* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f172a;
  color: white;
}


nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: rgba(255,255,255,0.05);
 backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  top: 0;
}

nav h2 {
  color: #38bdf8;
}

nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

nav ul li {
  cursor: pointer;
  transition: 0.3s;
}

nav ul li:hover {
  color: #38bdf8;
}


.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url('https://wallpapercave.com/wp/wp12407136.jpg') center/cover;
}

.hero-content h1 {
  font-size: 60px;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #cbd5e1;
}

button {
  padding: 12px 25px;
  border: none;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
  background: #0ea5e9;
}


.section {
  padding: 80px 50px;
  text-align: center;
}

.section h2 {
  font-size: 40px;
  margin-bottom: 40px;
  color: #38bdf8;
}


.grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}


.card {
  width: 300px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  overflow: hidden;
  transition: 0.4s;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  margin: 15px 0 5px;
}

.card p {
  font-size: 14px;
  color: #cbd5e1;
  padding: 0 10px 15px;
}

.card button{
    margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
  margin-top: 40px;
}